.jumbotron{
	background-color: #103045;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
}

.clear{
	clear: both;
	margin-bottom: 20px;
}

body{
	font-family: Verdana;
	background: url("bahria-town-logo.png") repeat ;
	background-color: #DDBD84;
}

head{
	font-family: Verdana;
}

.bg-dark {
  background-color: #103045 !important;
}

div h2{
	color: #103045;
}

div .btn{
	width: 200px;
}

div .btn-secondary {
  color: #103045;
  background-color: #F2EFE6;
  border-color: #103045;
  border-width: 2px;
  font-family: monospace;
}

@media only screen and (max-width:768px) {
.container{
    width:100%!important;
    padding:0;
}




